body {
  margin:0px;
  background-color:rgba(223, 223, 223, 1);
  background-image:none;
  position:relative;
  left:-24px;
  width:776px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3208 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3209 {
  position:absolute;
  left:24px;
  top:64px;
  width:776px;
  height:420px;
  overflow:hidden;
}
#u3209_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:420px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3209_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3210 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:418px;
}
#u3211 {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:418px;
}
#u3212 {
  position:absolute;
  left:2px;
  top:201px;
  width:773px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:141px;
}
#u3213 {
  position:absolute;
  left:287px;
  top:95px;
  width:141px;
  height:141px;
}
#u3214 {
  position:absolute;
  left:2px;
  top:62px;
  width:137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3215_div {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:26px;
}
#u3215 {
  position:absolute;
  left:175px;
  top:246px;
  width:365px;
  height:32px;
  font-size:26px;
}
#u3216 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u3217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:61px;
}
#u3217 {
  position:absolute;
  left:0px;
  top:0px;
  width:777px;
  height:61px;
}
#u3218 {
  position:absolute;
  left:2px;
  top:22px;
  width:773px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3219_div {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3219 {
  position:absolute;
  left:713px;
  top:13px;
  width:41px;
  height:24px;
  font-size:20px;
}
#u3220 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
